{% extends "@Hangman/layout.html.twig" %}


{% block content %}
    <h2>Sign in</h2>
    {% if error %}
        {{ dump(error) }}
    {% endif %}
    <form action="{{ path('app_login') }}" method="post" novalidate>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
        </div>
        <button type="submit">Login</button>
    </form>


{% endblock %}

{% block title %}
    Sign in
{% endblock %}